services:
  redis:
    image: redis:alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - proxy
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.5"
          memory: 128M
        reservations:
          cpus: "0.02"
          memory: 16M

volumes:
  redis_data:

networks:
  proxy:
    external: true
