services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    expose:
      - "80"
    env_file:
      - ../.env
    volumes:
      - n8n_data:/home/node/.n8n
    deploy:
      replicas: 1
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  n8n_data:
