{
	email yasasvigumma@gmail.com
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

n8n.yasasvi.site {
  reverse_proxy n8n_n8n:80
}

docmost.yasasvi.site {
  reverse_proxy docmost_docmost:3000
}

dozzle.yasasvi.site {
  reverse_proxy dozzle_dozzle:8080
}
